html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#title {
  text-align:center;
  font-weight: bold;
  font-family: 'Aldrich', sans-serif;
  font-size: 5em;
  color: #0a416a;
}

.titleDots {
  color: #BC2537;
}

#finalFooter {
  text-align: center;
}